.main-slider .slider {
  height: 600px;
}
.main-slider .slider .main-carousel h1 {
  font-size: 72px;
  color: #007DAD;
  text-transform: uppercase;
}
.main-slider .slider .main-carousel p {
  color: rgba(31, 31, 31, 0.99);
  font-size: 14px;
}
.main-slider .slider .main-carousel button {
  background: #289cd8;
  color: #FFF;
  padding: 15px 40px;
  font-size: 14px;
  text-transform: uppercase;
}
.main-slider .slider .main-carousel button:hover {
  background: rgba(31, 31, 31, 0.99);
  color: #FFF;
}
.main-slider .slider .slider-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pt-90 {
  padding-top: 90px;
}
