.main-slider .slider {
  height: 600px;
}
@media (max-width: 576px) {
  .main-slider .slider {
    height: 400px;
  }
}
.main-slider .slider .slider-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
}
.main-slider .slider .slider-content .main-carousel {
  display: flex;
  width: 100%;
}
.main-slider .slider .slider-content .main-carousel h1 {
  font-size: 72px;
  color: #007DAD;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .main-slider .slider .slider-content .main-carousel h1 {
    font-size: 42px;
  }
}
.main-slider .slider .slider-content .main-carousel p {
  color: rgba(31, 31, 31, 0.99);
  font-size: 14px;
}
.main-slider .slider .slider-content .main-carousel .btn {
  background: #289cd8;
  color: #FFF;
  padding: 15px 40px;
  font-size: 14px;
  text-transform: uppercase;
}
.main-slider .slider .slider-content .main-carousel .btn:hover {
  background: rgba(31, 31, 31, 0.99);
  color: #FFF;
}
.main-slider .slider .slider-content .main-carousel .btn a {
  color: white;
}
.main-slider .slider .slider-content .main-carousel .btn a:hover {
  text-decoration: none;
}
@media (max-width: 576px) {
  .main-slider .slider a.nextButton {
    right: 0;
  }
  .main-slider .slider a.previousButton {
    left: 0;
  }
}
.pt-90 {
  padding-top: 90px;
}
